## BGC X GenAI Task 2

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

/Users/student/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('BGC_X_GenAI_Task_1.csv', encoding='utf-8-sig', sep='\s*,\s*', engine='python')
df = df[df['Company'].notna()] # https://stackoverflow.com/questions/13413590/how-to-drop-rows-of-pandas-dataframe-whose-value-in-a-certain-column-is-nan

df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100
df['Asset Growth (%)'] = df.groupby(['Company'])['Total Assets'].pct_change() * 100
df['Liability Growth (%)'] = df.groupby(['Company'])['Total Liabilities'].pct_change() * 100
df['Cash Flow Growth (%)'] = df.groupby(['Company'])['Cash Flow from Operating Activities'].pct_change() * 100

df['Profit Margin'] = df['Net Income'] / df['Total Revenue']
df['Return On Assets'] = df['Net Income'] / df['Total Assets']
df['Operating Cash Flow Ratio'] = df['Cash Flow from Operating Activities'] / df['Total Revenue']
display(df)

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Asset Growth (%),Liability Growth (%),Cash Flow Growth (%),Profit Margin,Return On Assets,Operating Cash Flow Ratio
0,Microsoft,2021.0,168088.0,61271.0,333779.0,191791.0,76740.0,NaN,NaN,NaN,NaN,NaN,0.364517,0.183568,0.456547
1,Microsoft,2022.0,198270.0,72738.0,364840.0,198298.0,89035.0,17.956071,18.715216,9.305858,3.392756,16.021631,0.366863,0.199370,0.449059
2,Microsoft,2023.0,211915.0,72361.0,411976.0,205753.0,87582.0,6.882030,-0.518299,12.919636,3.759493,-1.631942,0.341462,0.175644,0.413288
3,Tesla,2021.0,53823.0,5644.0,62131.0,30548.0,5644.0,NaN,NaN,NaN,NaN,NaN,0.104862,0.090840,0.104862
4,Tesla,2022.0,81462.0,12587.0,82338.0,36440.0,12587.0,51.351653,123.015592,32.523217,19.287678,123.015592,0.154514,0.152870,0.154514
5,Tesla,2023.0,96773.0,14974.0,106618.0,43009.0,14974.0,18.795267,18.964010,29.488207,18.026894,18.964010,0.154733,0.140445,0.154733
6,Apple,2021.0,365817.0,94680.0,351002.0,287912.0,104038.0,NaN,NaN,NaN,NaN,NaN,0.258818,0.269742,0.284399
7,Apple,2022.0,394328.0,99803.0,352755.0,302083.0,122151.0,7.793788,5.410858,0.499427,4.921990,17.409985,0.253096,0.282924,0.309770
8,Apple,2023.0,383285.0,96995.0,352583.0,290437.0,110543.0,-2.800461,-2.813543,-0.048759,-3.855232,-9.502992,0.253062,0.275098,0.288409

## Simple chatbot example (Provided by task 2)

In [3]:
def simple_chatbot(user_query):
   if user_query == "What is the total revenue?":
       return "The total revenue is [amount]."
   elif user_query == "How has net income changed over the last year?":
       return "The net income has [increased/decreased] by [amount] over the last year."
   # Add more conditions for other predefined queries
   else:
       return "Sorry, I can only provide information on predefined queries."

## Basic chatbot with limited selections

In [ ]:
def chatbot_v2(option, year, company, property):  
    """
    Chat bot for preexisting queries.
    
    Parameters:
    -----------
        
    option: float
        Total outstanding debt. 

    years_employed: int
        Number of years individual has been employed. 

    recovery_rate: float
        Amount recovered when a loan defaults.

    default: bool
        Whether or not the individual has defaulted by this point or not. 
        Already defaulted individuals will assume probability of 1, non-defaulted individuals will assume survival_estimates.

    survival_estimates: dictionary 
        Dictionary of survival probabilities corresponding to the number of years individual has been employed.
        
    Returns:
    --------
    Corresponding expected loss given 
    """

## Personalised CSV based chatbot
- https://milumon.medium.com/creating-custom-chatbots-using-csv-data-with-python-and-openai-api-0486d8992b24
- Cannot be acomplished due to lack of accessibility to OpenAI.

In [1]:
# # !pip install openai==0.28
# import os
# import openai
# import sys
# import google.colab
# # from google.colab import userdata

/Users/student/anaconda3/lib/python3.11/site-packages/google/colab/data_table.py:30: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  from IPython.utils import traitlets as _traitlets
/Users/student/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [6]:
# dir(google.colab)
# # Retrieve your OpenAI API key
# OPENAI_KEY = userdata.get('openai-api-key')
# openai.api_key = OPENAI_KEY

['_',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_import_hooks',
 '_installation_commands',
 '_interactive_table_helper',
 '_ipython',
 '_jupyter_nbextension_paths',
 '_message',
 '_shell_customizations',
 '_system_commands',
 '_tensorflow_magics',
 'auth',
 'data_table',
 'drive',
 'errors',
 'files',
 'load_ipython_extension',
 'output',
 'snippets',
 'widgets']

## References 
- https://milumon.medium.com/creating-custom-chatbots-using-csv-data-with-python-and-openai-api-0486d8992b24